SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=UTC

DB_ENGINE=django.db.backends.postgresql
DB_NAME=projectbook
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
